wordcloud==1.8.2.2
spacy==3.5.2
requests==2.27.1
python-binance==1.0.17
openai==0.27.6
numpy==1.22.4
nltk==3.8.1
newsapi-python==0.2.7
newspaper3k==0.2.8
matplotlib==3.7.1
keras==2.12.0
pandas==1.5.3
python-dotenv
