.header-container {
  position: relative;
  // width: 100vw;
  display: flex;
  align-items: center;
  background-color: #202020;
  height: 85px;

  img {
    margin-left: 40px;
    margin-top: 4px;
    max-width: 260px;
  }

  .login-button {
    position: absolute;
    right: 60px;
    width: 100px;
  }
}