.infos {
  margin: 0 20px;
  .header-info {
      background-color: #AB8B51;
      color: white;
      margin-bottom: 20px;
      font-size: 15px;
      text-align: center;
      padding: 8px 0;
  }

  .informations {
    border-left: solid 1px black;
    font-size: 14px;
    text-align: center;
  }
}